.button {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(245, 245, 230, 0.57);
    box-sizing: border-box;
    height: 30px;
}
.button:hover {
    background-color: rgba(143, 231, 219, 0.83);
}

.buttonForm {
    display: inline-block;
    height: 30px;
}