.modal {
    font-size: 14px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px 0 5px 0;
}
.modal > .content {
    width: 100%;
    padding: 10px 0 10px 0;
}
.modal > .actions {
    width: 100%;
    padding: 10px 0 10px 0;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: rgb(255, 255, 255);
    border-radius: 18px;
    border: 1px solid #adaaaa;
}
.button{
    margin-left: 10px;
    margin-right: 10px;
}